#pre-header a {
    color:#bcd3f7;
}
#pre-header a:hover {
    opacity: 0.8;
}

.basket {
    display: flex;
    justify-content: flex-end;
    width: 28px;
    height: 26px;
    background: url(../images/basket.png) no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

#pre-header .basket span{
    width: 15px;
    height: 15px;
    font-size: 12px;
    padding: 0;
    text-align: center;
    background:  #d5f2f5;
    color: #00264d;
    border-radius: 50%;
}

.basket_list button{
    border-radius:15%;
    border: none;
    margin: 5px;
}