{% extends '../base.html' %}
{% load static %}

{% block title %}{{title|title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h4>Login</h4>
        <div class="mx-auto col-3">
            <form class="form-horizontal" action="{% url 'auth:login' %}" style="text-align:center" method="post">
                {% csrf_token %}
                {{ login_form.as_p }}
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
                <br>
                <br>
                <button class="btn brn-round btn-primary">
                    <a href="{% url 'auth:register' %}" class="text-light">Register</a>
                </button>
            </form>
        </div>
    </div>



</div>
{% endblock %}