{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container w-50 mt-5">
            <div class="row basket_list">
                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th class="col-1">№</th>
                        <th class="col">Product</th>
                        <th class="col">Quantity</th>
                        <th class="col">Price</th>
                        <th class="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in basket %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.products }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product_cost }}</td>
                        <td><button>
                            <a href="{% url 'basket:remove' item.pk %}">
                                Delete
                            </a>
                        </button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mb-5 justify-content-end basket_quantity">
                All product count: <strong>{{basket.0.total_quantity}}</strong>
                <br>
                All product sum: <strong>$ {{basket.0.total_cost|floatformat:'g'}}</strong>
            </div>
        </div>
    {% endif %}
{% endblock %}